$bg : #161622;
$bg3: #1E1D30;
$bgGradient: linear-gradient(90deg, rgba(110, 110, 172, 0.0001) 0%, #6E6EAC 31.27%, #6E6EAC 68.82%, rgba(110, 110, 172, 0.0001) 100%);
$color : #6E6EAC;
$color2 : #63C9E0;
$borderColor: #3f3f53;
$transition: 0.3s;
$gray: 255, 255, 255;
$white: #ffffff;